<!-- The full review of user -->
<div class="container py-5 full-review-section">

    <!-- The title of the review -->
    <div class="page-title text-center mb-5" id="review-title"></div>

    <!-- Add the detailed review card -->
    <section class="review-container">

        <!-- The summary box on the left side -->
        <div class="review-summary col-md-4 col-12 align-items-center">
            <div class="review-img-placeholder mb-3">
                <img id="review-image" class="img-fluid rounded shadow-sm" src="" alt="">
            </div>

            <h3 class="game-title mt-2" id="game-title"></h3>

            <div class="full-review-meta mt-3 flex-column gap-2">
                <span class="full-review-item align-items-center gap-2">
                    <i class="bi bi-person fs-8"></i>
                    <span id="review-author"></span>
                </span>

                <span class="full-review-item align-items-center gap-2">
                    <i class="bi bi-calendar4 fs-8"></i>
                    <span id="review-date"></span>
                </span>

                <div class="review-stars" id="review-stars"></div>
            </div>
        </div>

        <!-- The detailed review words on the right side -->
        <div class="col-md-8 col-12 review-text-box" id="review-content"></div>
    </section>
</div>