node_modules/
.env
server/scripts/migrate-add-slugs.js
server/scripts/migrateProfile.js
server/scripts/migratePurchasedGames.js
server/scripts/migrateUser.js
server/scripts/seed-review.js


#MACOS
.DS_Store

# uploads/
uploads/