<footer class="container-fluid footer-background">
    <div class="container py-4">
        <div class="row d-flex flex-row justify-content-center align-items-start">
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-start">
                <span class="mb-3 fs-5 fw-bold">
                    <i class="bi bi-controller controller fw-bold"></i>
                    <span class="title">GameVault</span>
                </span>
                <p class="muted">Your ultimate destination for the latest games and gaming community.</p>
            </div>

            <div class="col-md-3 d-flex flex-column justify-content-center align-items-start">
                <span class="footer-title fw-bold mb-3 fs-5">Navigation</span>

                <ul class="list-shortcut ms-0 ps-0 d-flex flex-column gap-2">
                    <li>
                        <a href="/shop/admin">Shop</a>
                    </li>

                    <li>
                        <a href="/forum">Forum</a>
                    </li>

                    <li>
                        <a href="/blog">Blog</a>
                    </li>

                    <li>
                        <a href="/reviews">Reviews</a>
                    </li>

                    <li>
                        <a href="/sitemap">Sitemap</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3 d-flex flex-column justify-content-center align-items-start">
                <span class="footer-title fw-bold mb-3 fs-5">Contact & Credits</span>
                
                <ul class="list-shortcut ms-0 ps-0 d-flex flex-column gap-2">
                    <li class="muted">RMIT University</li>
                    <li class="muted">COSC3060 - Web Programming Studio</li>
                </ul>
            </div>
        </div>

        <hr class="text-secondary my-3 w-100">

        <div class="row">
            <div class="col text-center mx-auto mt-2">
                <span class="copyright">&copy; 2025 OpenAI-Inspired | RMIT University</span>
            </div>
        </div>
    </div>
</footer>